<%= render "shared/header"%>
<div class="container">
  <h2 class="profile_title">アカウントの編集</h2>
  <div class="account_edit">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, "メールアドレス" %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "新しいパスワードを入力" %><br>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "新しいパスワードの確認" %><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password, "現在のパスワードを入力" %><br>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions d-flex update_aria">
        <%= link_to "キャンセル", :back %>
        <%= f.submit "更新", class:'update_btn' %>
      </div>
    <% end %>
  </div>
</div>
