<%= render "shared/header"%>
<div class="container">
  <h2 class="profile_title">設定</h2>
  <%= link_to '編集', edit_profile_users_path, class: 'profile_edit' %>
    <div class="side_link d-flex">
      <ul class="side_aria">
        <li><%= link_to 'アカウント', user_path(current_user), class:'profile_link' %></li>
        <li></li><%= link_to 'プロフィール', profile_users_path, class:'profile_link' %>
      </ul>
      <div class="profile_aria">
        <%= form_with(model: @user, url: update_profile_users_path, local: true) do |f| %>
          <h3 class="account_title">プロフィール</h3>
          <div class="d-flex">
            <div class="profile_image">アイコン</div>
            <%= image_tag(current_user.user_image.attached? ? url_for(current_user.user_image) : 'default-avatar.png', class: 'profile_user_image') %>
            <%= f.label :user_image, class: 'custom-file-upload' do %>
              <span>画像を選択</span>
              <%= f.file_field :user_image, class: 'hidden' %>
            <% end %>
          </div>
          <div class="d-flex">
            <div class="profile_label"><%= f.label :user_name, "名前" %><br></div>
            <%= f.text_field :user_name, class:'profile_name' %>
          </div>
          <div class="d-flex">
            <div class="profile_label"><%= f.label :bio, "自己紹介" %></div>
            <%= f.text_area :bio, class:'profile_bio' %>
          </div>
          <div class="actions dflex update_aria">
            <%= link_to "キャンセル", :back %>
            <%= f.submit "更新",  class:'update_btn' %>
          </div>
        <% end %>
      </div>
    </div>
</div>
