<%= render "shared/header"%>
<div class="container">
  <h2 class="profile_title">設定</h2>
  <%= link_to '編集', edit_user_registration_path, class: 'profile_edit' %>
    <div class="side_link d-flex">
      <ul class="side_aria">
        <li><%= link_to 'アカウント', user_path(current_user), class:'profile_link' %></li>
        <li></li><%= link_to 'プロフィール', profile_users_path, class:'profile_link' %>
      </ul>
      <div class="profile_aria">
       <h3 class="account_title">アカウント</h3>
        <div class="d-flex">
          <div class="account_label">メールアドレス</div>
          <p class="account_email"><%= current_user.email %></p>
        </div>
        <div class="d-flex">
          <div class="account_label">パスワード</div>
          <p class="account_password">*********</p>
        </div>
      </div>
    </div>
</div>
