<%= render "shared/header"%>
<div class="container">
  <h2 class="">予約済み施設の一覧</h2>
    <% if flash[:notice] %>
      <div class="flash-message notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
  <%= link_to "戻る", :back, class: "btn" %>
  <div class="room_aria">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col" class="">写真</th>
          <th scope="col" class="">施設名</th>
          <th scope="col" class="">施設紹介</th>
          <th scope="col" class="">合計料金</th>
          <th scope="col" class="">チェックイン日</th>
          <th scope="col" class="">チェックアウト日</th>
          <th scope="col" class="">予約確定日時</th>
        </tr>
      </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <th scope="row">
              <% if reservation.room.room_image.attached? %>
                <%= image_tag reservation.room.room_image, class: 'room_image' %>
              <% end %>
            </th>
            <td><%= link_to reservation.room.room_name, new_room_reservation_path(reservation.room) %></td>
            <td><%= reservation.room.room_detail %></td>
            <td><%= number_with_delimiter(reservation.total_price) %></td>
            <td><%= reservation.start_date.strftime("%Y/%m/%d") %></td>
            <td><%= reservation.end_date.strftime("%Y/%m/%d") %></td>
            <td><%= reservation.created_at.strftime("%Y/%m/%d %H:%M") %></td>
            <td>
              <div class="btn-group dropright">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                <%= link_to '削除', reservation_path(reservation), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'dropdown-item' %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render "shared/footer"%>
