<%= render "shared/header" %>
<div class="container">
  <% if flash[:alert] %>
    <div class="flash-message notice">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <h2>施設の予約</h2>
  <div class="room_date_wrapper">
    <div class="d-flex">
      <% if @room.room_image.attached? %>
        <%= image_tag @room.room_image, class: 'reserve_image' %>
      <% end %>
      <div class="room_date_list">
        <div>
          <p class="room_date_item">施設名 <br> <%= @room.room_name %></p>
          <p class="room_date_item">一泊の料金 <br> <%= number_with_delimiter(@room.price) %></p>
        </div>
        <div class="">
          <p>住所 <br> <%= @room.address %></p>
          <p>施設詳細 <br> <%= @room.room_detail %></p>
        </div>
      </div>
    </div>
  </div>
  <%= form_with(model: @reservation, url: confirmation_reservations_path ) do |f| %>
    <div class="form-group">
      <%= f.label :start_date, "チェックイン日" %>
      <%= f.date_field :start_date, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :end_date, "チェックアウト日" %>
      <%= f.date_field :end_date, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :number_of_people, "予約人数" %>
      <%= f.number_field :number_of_people, class: "form-control" %>
    </div>
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.submit "予約する", class: "reservation-link" %>
  <% end %>
  <%= link_to "戻る", :back, class: "btn" %>
</div>
<%= render "shared/footer" %>
