<%= render "shared/header"%>
<div class="container">
  <h2 class="room_title">登録済み施設一覧</h2>
  <div class="room_aria">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">施設写真</th>
          <th scope="col">施設名</th>
          <th scope="col">施設紹介</th>
          <th scope="col">料金</th>
          <th scope="col">作成日</th>
        </tr>
      </thead>
      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <th scope="row">
              <% if room.room_image.attached? %>
                <%= image_tag room.room_image, class: 'room_image' %>
              <% end %>
            </th>
            <td><%= room.room_name %></td>
            <td><%= room.address %></td>
            <td><%= room.room_detail %></td>
            <td><%= room.created_at %></td>
            <td>
              <div class="btn-group dropright">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                  <%= link_to '編集', edit_room_path(room), class: 'dropdown-item' %>
                  <%= link_to '削除', room, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'dropdown-item' %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render "shared/footer"%>
