<%= render "shared/header"%>
<%= render "shared/search"%>

<div class="container">
  <p><%= @room_count %>件が見つかりました</p>
  <ul class="row">
    <% @results.each do |room| %>
      <li class="col-sm">
        <% if room.room_image.attached? %>
          <%= image_tag room.room_image, class: 'room_image' %>
        <% end %>
        <div class="room_wrapper">
            <p><%= room.room_name %></p>
            <p><%= room.address %></p>
          <p> <%= room.room_detail %></p>
          <div class="room_footer">
            <p><%= room.price %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<%= render "shared/footer"%>
